einops
flask-restful
junitparser
mock
numpy
pytest
pytest_asyncio
pytest-cov
pytest_mock
scipy
tiktoken
wrapt
flask-restful
nltk
pytest-random-order
sentencepiece
zarr
tensorstore==0.1.45
prettytable
wandb
